<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" /> 
	<title>Eat-Da-Burger</title>
</head>
<body background="http://orig13.deviantart.net/2162/f/2006/335/c/c/burger_background_by_lz3broc.jpg">
	{{{ body }}}
</body>
</html>